<h1>New Post</h1>
<section>
    <form action="/posts" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name = "title" placeholder="Write Your Title Here" required>
        </div>

        <div>
            <img src=<%=imageUrl%>>
            <input type="hidden" id="image" name = "image" value="<%=imageUrl%>" required>
        </div>

        <div>
            <label for="content">Content</label>
            <textarea type="text" id="content" name="content" placeholder="Write your entry here" required></textarea>
        </div>

        <div>
            <input type="hidden" id="userId" name="userId" value=<%=userId%> required>
        </div>
        
        <input type="submit" value="Save">
    </form>
</section>

<a href="/">&larr; Back to Home</a>

<footer>
    <p>Photo by <a href="<%=photographerLink%>/?utm_source=Poetry_In_Motion&utm_medium=referral"><%=photographerName%></a> on <a href="https://unsplash.com/?utm_source=Poetry_In_Motion&utm_medium=referral">Unsplash</a>
</footer>