<h1><%= post.title %></h1>
<h3><%= post.user.name %></h3>
<img src="<%= post.image %>">
<p><%= post.content %></p>

<a href="/posts/index">&larr; Back to Index</a>

<form method="POST" action="/posts/<%=post.id%>/?_method=DELETE">
    <input type="submit" value="Delete Post">
</form>

<footer>
    <p>
        Photo by <a href="https://unsplash.com/?utm_source=Poetry_In_Motion&utm_medium=referral">Unsplash</a>
    </p>
</footer>