<h1 id="postTitle"><%= post.title %></h1>
<h3 id="author"><%= post.user.name %></h3>
<p id="date">Written on <%= post.createdAt.toLocaleDateString("en-US") %></p>
<img src="<%= post.image %>">
<p id="postContent"><%= post.content %></p>
<div id="comment">
    <h3 class = "comments">Comments</h3>
    <% if(post.comments.length > 0) { %>
        <% post.comments.forEach(comment => { %>
            <p><%= comment.dataValues.content %></p>
            <p class="commentText"><%= comment.dataValues.name %></p>
            <p><%= comment.dataValues.createdAt.toLocaleDateString("en-US") %></p>
    <% }) %>
    <% } else { %>
        <p>No comments yet</p>
    <% } %>
</div>
<h4>Add a Comment</h4>
<form action="/comments" method="POST">  
    <div>
        <input type="text" id="content" name="content" required>
    </div>

    <div>
        <input type="hidden" id="postId" name="postId" value="<%=post.id%>" required>
    </div>

    <div>
        <input type="hidden" id="userId" name="userId" value="<%=post.user.id%>" required>
    </div>

    <br>

    <input class="button" id="commentButton" type="submit" value="Add Comment">
</form>

<section>
    <form class="buttonContainer" method="GET" action="/posts/update/<%=post.id%>/?_method=PUT">
        <br>
        <input class="button" id="updateButton" type="submit" value="Update Post">
    </form>

    <form class="buttonContainer" method="GET" action="/posts/new">
        <input class="newButton" type="submit" value="Create a New Post">
    </form>

    <form class="buttonContainer" method="POST" action="/posts/<%=post.id%>/?_method=DELETE">
        <input type="hidden" id="userId" name="userId" value="<%=post.user.id%>" required>
        <input class="button" id="deleteButton" type="submit" value="Delete Post">
    </form>
</section>

<a class="navArrow" href="/posts/index">&larr; Back to Index</a>

<footer>
    <p>
        Photo by <%=post.photographerName%> on <a href="https://unsplash.com/?utm_source=Poetry_In_Motion&utm_medium=referral">Unsplash</a>
    </p>
</footer>