<h1><%= post.title %></h1>
<h3><%= post.user.name %></h3>
<img src="<%= post.image %>">
<p><%= post.content %></p>
<h4>Comments</h4>
<% if(post.comments.length > 0) { %>
    <% post.comments.forEach(comment => { %>
        <p><%= comment.dataValues.name %></p>
        <p><%= comment.dataValues.content %></p>
    <% }) %>
<% } else { %>
    <p>No comments yet</p>
<% } %>

<a href="/posts/index">&larr; Back to Index</a>

<form method="POST" action="/posts/<%=post.id%>/?_method=DELETE">
    <input type="submit" value="Delete Post">
</form>

<form method="GET" action="/posts/update/<%=post.id%>/?_method=PUT">
    <input type="submit" value="Update Post">
</form>

<h4>Add a Comment</h4>
<form action="/comments" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>    

    <div>
        <label for="content">Comment</label>
        <input type="text" class="form-control" id="content" name="content" required>
    </div>

    <div>
        <input type="hidden" class="form-control" id="postId" name="postId" value="<%=post.id%>" required>
    </div>

    <div>
        <input type="hidden" class="form-control" id="userId" name="userId" value="<%=post.user.id%>" required>
    </div>

  <input type="submit" value="Add Comment">
</form>

<footer>
    <p>
        Photo by <a href="https://unsplash.com/?utm_source=Poetry_In_Motion&utm_medium=referral">Unsplash</a>
    </p>
</footer>